h1{
font-family: Inter;
font-weight: 700;
font-size: 40px;
line-height: 100%;
}

.main-title{
    margin-bottom: 60px;
}

.title-input{
    margin-bottom: 30px;
    display: block;
    box-sizing: border-box;
    width: 500px;
    height: 60px;
}

.public-btn{
    width: 500px;
    height: 60px;
    color: white;
    background-color: #0094FF;
    font-size: 32px;
    font-weight: 400px;
    border: none ;
}